$btnColor: rgb(37, 185, 64);

body {
  min-width: 500px;
  margin: 0;
}
button {
  background-color: $btnColor;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  &:disabled {
    background-color: lighten($btnColor, 30%);
  }
}
button.start {
  width: 100%;
}

.separator {
  width: 100%;
  border-bottom: 1px solid lighten(black, 80%);
  margin-top: 20px;
}
table {
  margin: 8px 15px;
  width: calc(100% - 15px * 2);
  border-collapse: collapse;

  caption {
    font-weight: bold;
    text-align: left;
    font-size: 1.5em;
    span {
      vertical-align: middle;
    }
  }

  colgroup {
    :nth-child(1) {
      width: 4%;
    }
    :nth-child(2) {
      width: auto;
    }
    :nth-child(3) {
      width: 10%;
    }
  }
  thead tr th {
    border-bottom: 1px solid black;
  }

  th, td{
    text-align: left;
    font-size: 1.2em;

    &:last-child{
      text-align: end;
    }
  }
  .total th {
    font-size: 1.5em;
  }
  td.empty {
    text-align: center;
  }

  h4 {
    margin: 10px auto 0;
  }
  h5 {
    margin: 0 auto 10px;
  }
}

input#group {
  width: calc(100% - 15px);
  margin: 5px;
  line-height: 20px;
  font-size: 1.5em;
}

.groups details.group {
  margin-top: 1px;
  &:first-of-type {
    margin-top: 0;
  }
  summary {
    font-size: 1.5em;
    background-color: $btnColor;
    padding: 2px 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .no-order {
    margin: 10px auto;
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    width: 50%;
    align-items: center;
    button {

    }
  }
  .commande {
    margin: 10px auto;
    width: fit-content;
    font-size: 1.5em;

    div {
      margin-bottom: 5px;
    }
  }
}

