service cloud.firestore {
  match /databases/{database}/documents {
    match /groups/{group} {
      allow get: if request.auth.uid != null;
      allow list: if true;
      allow write: if false;

      match /orders {
        allow list: if false;
      }
    }
  }
}
